<section>
    <nav class="bloque"> 
        <img class="dibujo" src="/assets/agua.png">
        <h4 class="nombre">AGUA</h4>
        <h5 class="tamaño">1280 x 1280</h5>
        <h5 class="tamaño">$20</h5>
    </nav>
</section>