<footer>
    <nav class="nav-footer">
        <ul>
             <li> <a class="redes" href=”https://x.com/s0s_arte”> TWITTER </a> </li>
             <li> <a class="redes" href=”https://www.instagram.com/s0s_arte/”> INSTAGRAM </a> </li>
             <li> <a class="redes" href=”https://discord.com/channels/@s0fii__.”> DISCORD </a> </li>
             <li> <a class="redes" href=”https://www.tumblr.com/blog/sousarte”> TUMBLR </a> </li>
        </ul>
    </nav>
</footer>
