<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <h1>SOUS</h1>
      <section>
         <article>
            <img id="enotroplano" src="./assets/enotroplano.png">
         </article>
         <article class="ilustraciones">
            <h1>MIS ILUSTRACIONES</h1>
            <h2>DIBUJO DIGITAL Y TRADICIONAL</h2>
         </article>
      </section>

      <section>
         <article>
            <h2>PRODUCTOS</h2>
         </article> 
      </section>

      <section>
         <div  class="bloque">
            <a href="/id/agua"> <img class="dibujo" src="/assets/agua.png"> </a> 
            <br>
            <h4 class="nombre">AGUA</h4>
            <br>
            <h5 class="tamaño"> 1280 × 1280 </h5>
         </div>

         <br>

         <div class="bloque">
            <img class="dibujo" src="/assets/lev.png">
            <br>
            <h4 class="nombre">LEV</h4>
            <br>
            <h5 class="tamaño"> 1280 × 1280 </h5>
         </div>

         <br>

         <div class="bloque">
            <img class="dibujo" src="/assets/serpiente.jpg">
            <br>
            <h4 class="nombre">SERPIENTE</h4>
            <br>
            <h5 class="tamaño"> 1280 × 1280 </h5>
         </div>

         <br>

         <div class="bloque">
            <img class="dibujo" src="/assets/love.png">
            <br>
            <h4 class="nombre">LOVE</h4>
            <br>
            <h5 class="tamaño"> 1280 × 1280 </h5>
         </div>
      </section>
    
    <%- include('./partials/footer') %>
  </body>
</html>
